<%- include ('partials/header.ejs') %>

<body>

    <header>
        <div class="conteiner">
            <div class="all">
                <div class="rigth">
                    <h1>Olá Mundo</h1>
                </div>
                
                <div class="left">
                    <a href="/login">
                        <button>
                            login
                        </button>
                    </a>
                    <br/>
                    <br>
        
                    <a href="/create">
                        <button>
                            Cadastrar-se
                        </button>
                    </a>
                </div>
            </div>
        </div>
        
    </header>

</body>

<%- include ('partials/footer.ejs') %>
