<%- include ('partials/header.ejs') %>

<body>

    <header>
        <div class="conteiner">
            <h1>Olá Mundo</h1>
            
            <a href="/login">
                <button>
                    login
                </button>
            </a>
            <br/>
            <br>

            <a href="/create">
                <button>
                    Cadastrar-se
                </button>
            </a>
        </div>
    </header>

</body>

<%- include ('partials/footer.ejs') %>
