<%- include ('partials/header.ejs') %>

<body>
    <h2>Faça o Login</h2>

    <form method="post">
        <input type="text" name="login" placeholder="email@exemplo.com">
        <input type="password" name="password" placeholder="*****">
        <input type="submit" name="acao" value="Enviar">
    </form>
</body>

<%- include ('partials/footer.ejs') %>